*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px auto;
    width: 90%;
}

.navbar {
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    padding: 5px 20px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navlogo img{
    width: 40px;
    padding: 4px;
    border-radius: 50%;
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlist li {
    list-style: none;
    margin-right: 16px;
}
.navlist li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.banner {
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 100px 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.textbanner {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name {
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.details{
    color: #c1c1c1;
    font-size: small;
    font-weight: 300;
}
.btn {
    width: 150px;
    padding: 7px 15px;
    border-radius: 7px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: large;
    box-shadow: 2px 2px 3px wheat, -2px -2px 3px wheat;
}

.picturebanner img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid white;
    background: green;
}

/* created some class property for single*/
.centertext {
    text-align: center;
}
.forbold {
    font-size: large;
    font-weight: 500;
}
.greentext{
    color: green;
}
.bluebg{
    background-color: blue;
}
.aquatext{
    color: darkcyan;
}
.aquabg{
    background-color: darkcyan;
}
.blackbold {
    color: black;
    font-size: 28px;
    font-weight: 600;
    padding: 20px 5px;
}

/* end of single class */




.maincontainer {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
}

section{
    display: flex;
    justify-content: space-around;
    margin: 34px auto;
    gap: 34px;
}
.revers {
    flex-direction: row-reverse;
}
.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.worktype a {
    text-decoration: none;
    font-size: 18px;
}
.textarea .title{
    font-size: xx-large;
    font-weight: 600;
}

.picturearea figure img {
    width: 500px;
}

.testmonial{
    margin-top: 40px;
}
/* testmonial container  */
.testmonialContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 30px 40px;
}
.testmonialContainer fieldset {
    padding: 20px;
}
.testmonialContainer fieldset > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-top: 20px;
}
.testmonialContainer legend {
    font-size: 38px;
    padding: 10px;
}
.testmonialContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #1B1B1B;
}

/* recent work section  */
.recentarticle {
    background-color: #787878;
    padding: 24px 10px;
    border-radius: 5px;
}
.side1, .side2 {
    padding: 20px;
    
}
.recentcontainer img {
    width: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.recentparam {
    padding: 20px 5px;
}